@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-foreground-secondary/20;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-family: 'Inter', sans-serif;
  }

  code {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

